			<dict>
				<key>image_plain</key>
				<string>baby_plain</string>
				<key>image_play</key>
				<string>baby_play</string>
				<key>image_speaker</key>
				<string>baby_speaker</string>
				<key>sound_mp3</key>
				<string>baby_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>clapping_plain</string>
				<key>image_play</key>
				<string>clapping_play</string>
				<key>image_speaker</key>
				<string>clapping_speaker</string>
				<key>sound_mp3</key>
				<string>clapping_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>cry_plain</string>
				<key>image_play</key>
				<string>cry_play</string>
				<key>image_speaker</key>
				<string>cry_speaker</string>
				<key>sound_mp3</key>
				<string>cry_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>

			<dict>
				<key>image_plain</key>
				<string>mexican-pesos-plain</string>
				<key>image_play</key>
				<string>mexican-pesos-play</string>
				<key>image_speaker</key>
				<string>mexican-pesos-speaker</string>
				<key>sound_mp3</key>
				<string>pesos_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>mexico-flag-plain</string>
				<key>image_play</key>
				<string>mexico-flag-play</string>
				<key>image_speaker</key>
				<string>mexico-flag-speaker</string>
				<key>sound_mp3</key>
				<string>paisanose_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>yellow-card-plain</string>
				<key>image_play</key>
				<string>yellow-card-play</string>
				<key>image_speaker</key>
				<string>yellow-card-speaker</string>
				<key>sound_mp3</key>
				<string>tarjeta_amarilla_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>		

			<dict>
				<key>image_plain</key>
				<string>snowboard_plain</string>
				<key>image_play</key>
				<string>snowboard_play</string>
				<key>image_speaker</key>
				<string>snowboard_speaker</string>
				<key>sound_mp3</key>
				<string>snowboard_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>superwomen-plain</string>
				<key>image_play</key>
				<string>superwomen-play</string>
				<key>image_speaker</key>
				<string>superwomen-speaker</string>
				<key>sound_mp3</key>
				<string>superwomen-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>		