<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>best-mom-ever-plain</string>
				<key>image_play</key>
				<string>best-mom-ever-play</string>
				<key>image_speaker</key>
				<string>best-mom-ever-speaker</string>
				<key>sound_mp3</key>
				<string>best-mom-ever-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>alien_plain</string>
				<key>image_play</key>
				<string>alien_play</string>
				<key>image_speaker</key>
				<string>alien_speaker</string>
				<key>sound_mp3</key>
				<string>alien_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>angel_plain</string>
				<key>image_play</key>
				<string>angel_play</string>
				<key>image_speaker</key>
				<string>angel_speaker</string>
				<key>sound_mp3</key>
				<string>angel_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>anger_plain</string>
				<key>image_play</key>
				<string>anger_play</string>
				<key>image_speaker</key>
				<string>anger_speaker</string>
				<key>sound_mp3</key>
				<string>anger_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>baby_plain</string>
				<key>image_play</key>
				<string>baby_play</string>
				<key>image_speaker</key>
				<string>baby_speaker</string>
				<key>sound_mp3</key>
				<string>baby_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bad-hair_plain</string>
				<key>image_play</key>
				<string>bad-hair_play</string>
				<key>image_speaker</key>
				<string>bad-hair_speaker</string>
				<key>sound_mp3</key>
				<string>bad-hair_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>braces_plain</string>
				<key>image_play</key>
				<string>braces_play</string>
				<key>image_speaker</key>
				<string>braces_speaker</string>
				<key>sound_mp3</key>
				<string>braces_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>broken-heart_plain</string>
				<key>image_play</key>
				<string>broken-heart_play</string>
				<key>image_speaker</key>
				<string>broken-heart_speaker</string>
				<key>sound_mp3</key>
				<string>broken-heart_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>burp_plain</string>
				<key>image_play</key>
				<string>burp_play</string>
				<key>image_speaker</key>
				<string>burp_speaker</string>
				<key>sound_mp3</key>
				<string>burp_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>clapping_plain</string>
				<key>image_play</key>
				<string>clapping_play</string>
				<key>image_speaker</key>
				<string>clapping_speaker</string>
				<key>sound_mp3</key>
				<string>clapping_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>cry_plain</string>
				<key>image_play</key>
				<string>cry_play</string>
				<key>image_speaker</key>
				<string>cry_speaker</string>
				<key>sound_mp3</key>
				<string>cry_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>fist-bump_plain</string>
				<key>image_play</key>
				<string>fist-bump_play</string>
				<key>image_speaker</key>
				<string>fist-bump_speaker</string>
				<key>sound_mp3</key>
				<string>fist-bump_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>frown_plain</string>
				<key>image_play</key>
				<string>frown_play</string>
				<key>image_speaker</key>
				<string>frown_speaker</string>
				<key>sound_mp3</key>
				<string>frown_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>grin_plain</string>
				<key>image_play</key>
				<string>grin_play</string>
				<key>image_speaker</key>
				<string>grin_speaker</string>
				<key>sound_mp3</key>
				<string>grin_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>heart_plain</string>
				<key>image_play</key>
				<string>heart_play</string>
				<key>image_speaker</key>
				<string>heart_speaker</string>
				<key>sound_mp3</key>
				<string>heart_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>heart-struck_plain</string>
				<key>image_play</key>
				<string>heart-struck_play</string>
				<key>image_speaker</key>
				<string>heart-struck_speaker</string>
				<key>sound_mp3</key>
				<string>heart-struck_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>kiss_plain</string>
				<key>image_play</key>
				<string>kiss_play</string>
				<key>image_speaker</key>
				<string>kiss_speaker</string>
				<key>sound_mp3</key>
				<string>kiss_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lips_plain</string>
				<key>image_play</key>
				<string>lips_play</string>
				<key>image_speaker</key>
				<string>lips_speaker</string>
				<key>sound_mp3</key>
				<string>lips_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lol_plain</string>
				<key>image_play</key>
				<string>lol_play</string>
				<key>image_speaker</key>
				<string>lol_speaker</string>
				<key>sound_mp3</key>
				<string>lol_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>omg_plain</string>
				<key>image_play</key>
				<string>omg_play</string>
				<key>image_speaker</key>
				<string>omg_speaker</string>
				<key>sound_mp3</key>
				<string>omg_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>scream_plain</string>
				<key>image_play</key>
				<string>scream_play</string>
				<key>image_speaker</key>
				<string>scream_speaker</string>
				<key>sound_mp3</key>
				<string>scream_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>shades_plain</string>
				<key>image_play</key>
				<string>shades_play</string>
				<key>image_speaker</key>
				<string>shades_speaker</string>
				<key>sound_mp3</key>
				<string>shades_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sleep_plain</string>
				<key>image_play</key>
				<string>sleep_play</string>
				<key>image_speaker</key>
				<string>sleep_speaker</string>
				<key>sound_mp3</key>
				<string>sleep_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>smile_plain</string>
				<key>image_play</key>
				<string>smile_play</string>
				<key>image_speaker</key>
				<string>smile_speaker</string>
				<key>sound_mp3</key>
				<string>smile_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bestie_plain</string>
				<key>image_play</key>
				<string>bestie_play</string>
				<key>image_speaker</key>
				<string>bestie_speaker</string>
				<key>sound_mp3</key>
				<string>bestie_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>rofl_plain</string>
				<key>image_play</key>
				<string>rofl_play</string>
				<key>image_speaker</key>
				<string>rofl_speaker</string>
				<key>sound_mp3</key>
				<string>rofl_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>wink_plain</string>
				<key>image_play</key>
				<string>wink_play</string>
				<key>image_speaker</key>
				<string>wink_speaker</string>
				<key>sound_mp3</key>
				<string>wink_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>crossfingers_plain</string>
				<key>image_play</key>
				<string>crossfingers_play</string>
				<key>image_speaker</key>
				<string>crossfingers_speaker</string>
				<key>sound_mp3</key>
				<string>crossfingers_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_one_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
