<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>cat-1-plain</string>
				<key>image_play</key>
				<string>cat-1-play</string>
				<key>image_speaker</key>
				<string>cat-1-speaker</string>
				<key>sound_mp3</key>
				<string>cat-1-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>cat-2-plain</string>
				<key>image_play</key>
				<string>cat-2-play</string>
				<key>image_speaker</key>
				<string>cat-2-speaker</string>
				<key>sound_mp3</key>
				<string>cat-2-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>dog-1-plain</string>
				<key>image_play</key>
				<string>dog-1-play</string>
				<key>image_speaker</key>
				<string>dog-1-speaker</string>
				<key>sound_mp3</key>
				<string>dog-1-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>dog-2-plain</string>
				<key>image_play</key>
				<string>dog-2-play</string>
				<key>image_speaker</key>
				<string>dog-2-speaker</string>
				<key>sound_mp3</key>
				<string>dog-2-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
