<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>arm-muscle-plain</string>
				<key>image_play</key>
				<string>arm-muscle-play</string>
				<key>image_speaker</key>
				<string>arm-muscle-speaker</string>
				<key>sound_mp3</key>
				<string>ni_madres_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hands-over-monkeys-eyes-plain</string>
				<key>image_play</key>
				<string>hands-over-monkeys-eyes-play</string>
				<key>image_speaker</key>
				<string>hands-over-monkeys-eyes-speaker</string>
				<key>sound_mp3</key>
				<string>no_quiero_ver_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>mexican-pesos-plain</string>
				<key>image_play</key>
				<string>mexican-pesos-play</string>
				<key>image_speaker</key>
				<string>mexican-pesos-speaker</string>
				<key>sound_mp3</key>
				<string>pesos_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>mexico-flag-plain</string>
				<key>image_play</key>
				<string>mexico-flag-play</string>
				<key>image_speaker</key>
				<string>mexico-flag-speaker</string>
				<key>sound_mp3</key>
				<string>paisanose_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>praying-hands-plain</string>
				<key>image_play</key>
				<string>praying-hands-play</string>
				<key>image_speaker</key>
				<string>praying-hands-speaker</string>
				<key>sound_mp3</key>
				<string>si_dios_quiere_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>yellow-card-plain</string>
				<key>image_play</key>
				<string>yellow-card-play</string>
				<key>image_speaker</key>
				<string>yellow-card-speaker</string>
				<key>sound_mp3</key>
				<string>tarjeta_amarilla_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>soccer_plain</string>
				<key>image_play</key>
				<string>soccer_play</string>
				<key>image_speaker</key>
				<string>soccer_speaker</string>
				<key>sound_mp3</key>
				<string>futbot_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
