<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>congrats-grad-card-plain</string>
				<key>image_play</key>
				<string>congrats-grad-card-play</string>
				<key>image_speaker</key>
				<string>congrats-grad-card-speaker</string>
				<key>sound_mp3</key>
				<string>CongratsGrad</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>easter-card-dog-ears-plain</string>
				<key>image_play</key>
				<string>easter-card-dog-ears-play</string>
				<key>image_speaker</key>
				<string>easter-card-dog-ears-speaker</string>
				<key>sound_mp3</key>
				<string>CongratsOnYourNewPup</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>way-to-go-grad-card-plain</string>
				<key>image_play</key>
				<string>way-to-go-grad-card-play</string>
				<key>image_speaker</key>
				<string>way-to-go-grad-card-speaker</string>
				<key>sound_mp3</key>
				<string>Way2Go</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hoppy-easter-bunny-card-plain</string>
				<key>image_play</key>
				<string>hoppy-easter-bunny-card-play</string>
				<key>image_speaker</key>
				<string>hoppy-easter-bunny-card-speaker</string>
				<key>sound_mp3</key>
				<string>HoppyEaster</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bulldog-holiday-card-plain</string>
				<key>image_play</key>
				<string>bulldog-holiday-card-play</string>
				<key>image_speaker</key>
				<string>bulldog-holiday-card-speaker</string>
				<key>sound_mp3</key>
				<string>HappyHolidaysEveryone</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bulldog-xmas-licking-snow-flakes-plain</string>
				<key>image_play</key>
				<string>bulldog-xmas-licking-snow-flakes-play</string>
				<key>image_speaker</key>
				<string>bulldog-xmas-licking-snow-flakes-speaker</string>
				<key>sound_mp3</key>
				<string>XMasHolidaySong</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>holiday-slow-down-card-plain</string>
				<key>image_play</key>
				<string>holiday-slow-down-card-play</string>
				<key>image_speaker</key>
				<string>holiday-slow-down-card-speaker</string>
				<key>sound_mp3</key>
				<string>JingleBellsSloth</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>get-well-soon-card-plain</string>
				<key>image_play</key>
				<string>get-well-soon-card-play</string>
				<key>image_speaker</key>
				<string>get-well-soon-card-speaker</string>
				<key>sound_mp3</key>
				<string>get-well-soon-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>goals-card-plain</string>
				<key>image_play</key>
				<string>goals-card-play</string>
				<key>image_speaker</key>
				<string>goals-card-speaker</string>
				<key>sound_mp3</key>
				<string>goals-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-anniversary-card-plain</string>
				<key>image_play</key>
				<string>happy-anniversary-card-play</string>
				<key>image_speaker</key>
				<string>happy-anniversary-card-speaker</string>
				<key>sound_mp3</key>
				<string>happy-anniversary-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-birthday-card-plain</string>
				<key>image_play</key>
				<string>happy-birthday-card-play</string>
				<key>image_speaker</key>
				<string>happy-birthday-card-speaker</string>
				<key>sound_mp3</key>
				<string>happy-birthday-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>i-miss-you-card-plain</string>
				<key>image_play</key>
				<string>i-miss-you-card-play</string>
				<key>image_speaker</key>
				<string>i-miss-you-card-speaker</string>
				<key>sound_mp3</key>
				<string>i-miss-you-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>its-a-boy-card-plain</string>
				<key>image_play</key>
				<string>its-a-boy-card-play</string>
				<key>image_speaker</key>
				<string>its-a-boy-card-speaker</string>
				<key>sound_mp3</key>
				<string>its-a-boy-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>its-a-girl-card-plain</string>
				<key>image_play</key>
				<string>its-a-girl-card-play</string>
				<key>image_speaker</key>
				<string>its-a-girl-card-speaker</string>
				<key>sound_mp3</key>
				<string>its-a-girl-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>love-you-more-card-plain</string>
				<key>image_play</key>
				<string>love-you-more-card-play</string>
				<key>image_speaker</key>
				<string>love-you-more-card-speaker</string>
				<key>sound_mp3</key>
				<string>love-you-more-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>you-are-invited-card-plain</string>
				<key>image_play</key>
				<string>you-are-invited-card-play</string>
				<key>image_speaker</key>
				<string>you-are-invited-card-speaker</string>
				<key>sound_mp3</key>
				<string>you-are-invited-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>you-crushed-it-card-plain</string>
				<key>image_play</key>
				<string>you-crushed-it-card-play</string>
				<key>image_speaker</key>
				<string>you-crushed-it-card-speaker</string>
				<key>sound_mp3</key>
				<string>you-crushed-it-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>best-mom-ever-brown-plain</string>
				<key>image_play</key>
				<string>best-mom-ever-brown-play</string>
				<key>image_speaker</key>
				<string>best-mom-ever-brown-speaker</string>
				<key>sound_mp3</key>
				<string>best-mom-ever-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>best-mom-ever-plain</string>
				<key>image_play</key>
				<string>best-mom-ever-play</string>
				<key>image_speaker</key>
				<string>best-mom-ever-speaker</string>
				<key>sound_mp3</key>
				<string>best-mom-ever-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>awesome-plain</string>
				<key>image_play</key>
				<string>awesome-play</string>
				<key>image_speaker</key>
				<string>awesome-speaker</string>
				<key>sound_mp3</key>
				<string>awesome-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>beautiful-you-plain</string>
				<key>image_play</key>
				<string>beautiful-you-play</string>
				<key>image_speaker</key>
				<string>beautiful-you-speaker</string>
				<key>sound_mp3</key>
				<string>beautiful-you-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>best-friends-plain</string>
				<key>image_play</key>
				<string>best-friends-play</string>
				<key>image_speaker</key>
				<string>best-friends-speaker</string>
				<key>sound_mp3</key>
				<string>best-friends-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>genius-girl-plain</string>
				<key>image_play</key>
				<string>genius-girl-play</string>
				<key>image_speaker</key>
				<string>genius-girl-speaker</string>
				<key>sound_mp3</key>
				<string>genius-girl-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>good-luck-plain</string>
				<key>image_play</key>
				<string>good-luck-play</string>
				<key>image_speaker</key>
				<string>good-luck-speaker</string>
				<key>sound_mp3</key>
				<string>good-luck-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-hanukkah-plain</string>
				<key>image_play</key>
				<string>happy-hanukkah-play</string>
				<key>image_speaker</key>
				<string>happy-hanukkah-speaker</string>
				<key>sound_mp3</key>
				<string>happy-hanukkah-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-holidays1-plain</string>
				<key>image_play</key>
				<string>happy-holidays1-play</string>
				<key>image_speaker</key>
				<string>happy-holidays1-speaker</string>
				<key>sound_mp3</key>
				<string>happy-holidays1-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-holidays2-plain</string>
				<key>image_play</key>
				<string>happy-holidays2-play</string>
				<key>image_speaker</key>
				<string>happy-holidays2-speaker</string>
				<key>sound_mp3</key>
				<string>happy-holidays2-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-holidays3-plain</string>
				<key>image_play</key>
				<string>happy-holidays3-play</string>
				<key>image_speaker</key>
				<string>happy-holidays3-speaker</string>
				<key>sound_mp3</key>
				<string>happy-holidays3-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>its-a-date-plain</string>
				<key>image_play</key>
				<string>its-a-date-play</string>
				<key>image_speaker</key>
				<string>its-a-date-speaker</string>
				<key>sound_mp3</key>
				<string>its-a-date-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lets-snap-plain</string>
				<key>image_play</key>
				<string>lets-snap-play</string>
				<key>image_speaker</key>
				<string>lets-snap-speaker</string>
				<key>sound_mp3</key>
				<string>lets-snap-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>omg-youre-old-plain</string>
				<key>image_play</key>
				<string>omg-youre-old-play</string>
				<key>image_speaker</key>
				<string>omg-youre-old-speaker</string>
				<key>sound_mp3</key>
				<string>omg-youre-old-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>party-is-on-plain</string>
				<key>image_play</key>
				<string>party-is-on-play</string>
				<key>image_speaker</key>
				<string>party-is-on-speaker</string>
				<key>sound_mp3</key>
				<string>party-is-on-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>valentines-day-plain</string>
				<key>image_play</key>
				<string>valentines-day-play</string>
				<key>image_speaker</key>
				<string>valentines-day-speaker</string>
				<key>sound_mp3</key>
				<string>valentines-day-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>AudiotsApp4Fun-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
