<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>alarm-clock_plain</string>
				<key>image_play</key>
				<string>alarm-clock_play</string>
				<key>image_speaker</key>
				<string>alarm-clock_speaker</string>
				<key>sound_mp3</key>
				<string>alarm-clock_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>banana_plain</string>
				<key>image_play</key>
				<string>banana_play</string>
				<key>image_speaker</key>
				<string>banana_speaker</string>
				<key>sound_mp3</key>
				<string>banana_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>baseball_plain</string>
				<key>image_play</key>
				<string>baseball_play</string>
				<key>image_speaker</key>
				<string>baseball_speaker</string>
				<key>sound_mp3</key>
				<string>baseball_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>basketball_plain</string>
				<key>image_play</key>
				<string>basketball_play</string>
				<key>image_speaker</key>
				<string>basketball_speaker</string>
				<key>sound_mp3</key>
				<string>basketball_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>beer_plain</string>
				<key>image_play</key>
				<string>beer_play</string>
				<key>image_speaker</key>
				<string>beer_speaker</string>
				<key>sound_mp3</key>
				<string>beer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bestie_plain</string>
				<key>image_play</key>
				<string>bestie_play</string>
				<key>image_speaker</key>
				<string>bestie_speaker</string>
				<key>sound_mp3</key>
				<string>bestie_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>birthday-cake_plain</string>
				<key>image_play</key>
				<string>birthday-cake_play</string>
				<key>image_speaker</key>
				<string>birthday-cake_speaker</string>
				<key>sound_mp3</key>
				<string>birthday-cake_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bottle_plain</string>
				<key>image_play</key>
				<string>bottle_play</string>
				<key>image_speaker</key>
				<string>bottle_speaker</string>
				<key>sound_mp3</key>
				<string>bottle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>broken-record_plain</string>
				<key>image_play</key>
				<string>broken-record_play</string>
				<key>image_speaker</key>
				<string>broken-record_speaker</string>
				<key>sound_mp3</key>
				<string>broken-record_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>champange_plain</string>
				<key>image_play</key>
				<string>champange_play</string>
				<key>image_speaker</key>
				<string>champange_speaker</string>
				<key>sound_mp3</key>
				<string>champange_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>coffee_plain</string>
				<key>image_play</key>
				<string>coffee_play</string>
				<key>image_speaker</key>
				<string>coffee_speaker</string>
				<key>sound_mp3</key>
				<string>coffee_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>drum_plain</string>
				<key>image_play</key>
				<string>drum_play</string>
				<key>image_speaker</key>
				<string>drum_speaker</string>
				<key>sound_mp3</key>
				<string>drum_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>football_plain</string>
				<key>image_play</key>
				<string>football_play</string>
				<key>image_speaker</key>
				<string>football_speaker</string>
				<key>sound_mp3</key>
				<string>football_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>gold-medal_plain</string>
				<key>image_play</key>
				<string>gold-medal_play</string>
				<key>image_speaker</key>
				<string>gold-medal_speaker</string>
				<key>sound_mp3</key>
				<string>gold-medal_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>guitar_plain</string>
				<key>image_play</key>
				<string>guitar_play</string>
				<key>image_speaker</key>
				<string>guitar_speaker</string>
				<key>sound_mp3</key>
				<string>guitar_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>ice-cream_plain</string>
				<key>image_play</key>
				<string>ice-cream_play</string>
				<key>image_speaker</key>
				<string>ice-cream_speaker</string>
				<key>sound_mp3</key>
				<string>ice-cream_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>microphone_plain</string>
				<key>image_play</key>
				<string>microphone_play</string>
				<key>image_speaker</key>
				<string>microphone_speaker</string>
				<key>sound_mp3</key>
				<string>microphone_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>piano_plain</string>
				<key>image_play</key>
				<string>piano_play</string>
				<key>image_speaker</key>
				<string>piano_speaker</string>
				<key>sound_mp3</key>
				<string>piano_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pickle_plain</string>
				<key>image_play</key>
				<string>pickle_play</string>
				<key>image_speaker</key>
				<string>pickle_speaker</string>
				<key>sound_mp3</key>
				<string>pickle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pizza_plain</string>
				<key>image_play</key>
				<string>pizza_play</string>
				<key>image_speaker</key>
				<string>pizza_speaker</string>
				<key>sound_mp3</key>
				<string>pizza_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>plane_plain</string>
				<key>image_play</key>
				<string>plane_play</string>
				<key>image_speaker</key>
				<string>plane_speaker</string>
				<key>sound_mp3</key>
				<string>plane_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>poop_plain</string>
				<key>image_play</key>
				<string>poop_play</string>
				<key>image_speaker</key>
				<string>poop_speaker</string>
				<key>sound_mp3</key>
				<string>poop_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>rofl_plain</string>
				<key>image_play</key>
				<string>rofl_play</string>
				<key>image_speaker</key>
				<string>rofl_speaker</string>
				<key>sound_mp3</key>
				<string>rofl_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>saxophone_plain</string>
				<key>image_play</key>
				<string>saxophone_play</string>
				<key>image_speaker</key>
				<string>saxophone_speaker</string>
				<key>sound_mp3</key>
				<string>saxophone_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>shower_plain</string>
				<key>image_play</key>
				<string>shower_play</string>
				<key>image_speaker</key>
				<string>shower_speaker</string>
				<key>sound_mp3</key>
				<string>shower_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>toilet_plain</string>
				<key>image_play</key>
				<string>toilet_play</string>
				<key>image_speaker</key>
				<string>toilet_speaker</string>
				<key>sound_mp3</key>
				<string>toilet_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>wink_plain</string>
				<key>image_play</key>
				<string>wink_play</string>
				<key>image_speaker</key>
				<string>wink_speaker</string>
				<key>sound_mp3</key>
				<string>wink_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_three_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
