<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>		
			<dict>
				<key>image_plain</key>
				<string>bulldog-xmas-hat-plain</string>
				<key>image_play</key>
				<string>bulldog-xmas-hat-play</string>
				<key>image_speaker</key>
				<string>bulldog-xmas-hat-speaker</string>
				<key>sound_mp3</key>
				<string>LoveTheHowladays</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>gift-plain</string>
				<key>image_play</key>
				<string>gift-play</string>
				<key>image_speaker</key>
				<string>gift-speaker</string>
				<key>sound_mp3</key>
				<string>HappyHolidaysEveryone</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>snowmen-plain</string>
				<key>image_play</key>
				<string>snowmen-play</string>
				<key>image_speaker</key>
				<string>snowmen-speaker</string>
				<key>sound_mp3</key>
				<string>XMasHolidaySong</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>tree-plain</string>
				<key>image_play</key>
				<string>tree-play</string>
				<key>image_speaker</key>
				<string>tree-speaker</string>
				<key>sound_mp3</key>
				<string>HappyHolidaysEveryone</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>snowmen-gift-tree-plain</string>
				<key>image_play</key>
				<string>snowmen-gift-tree-play</string>
				<key>image_speaker</key>
				<string>snowmen-gift-tree-speaker</string>
				<key>sound_mp3</key>
				<string>XMasHolidaySong</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sloth-xmas-hat-plain</string>
				<key>image_play</key>
				<string>sloth-xmas-hat-play</string>
				<key>image_speaker</key>
				<string>sloth-xmas-hat-speaker</string>
				<key>sound_mp3</key>
				<string>JingleBellsSloth</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bulldog-xmas-antlers-plain</string>
				<key>image_play</key>
				<string>bulldog-xmas-antlers-play</string>
				<key>image_speaker</key>
				<string>bulldog-xmas-antlers-speaker</string>
				<key>sound_mp3</key>
				<string>XMasHolidaySong</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>reindeer_plain</string>
				<key>image_play</key>
				<string>reindeer_play</string>
				<key>image_speaker</key>
				<string>reindeer_speaker</string>
				<key>sound_mp3</key>
				<string>reindeer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>penguin_plain</string>
				<key>image_play</key>
				<string>penguin_play</string>
				<key>image_speaker</key>
				<string>penguin_speaker</string>
				<key>sound_mp3</key>
				<string>HappyHolidaysEveryone</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>kiss_plain</string>
				<key>image_play</key>
				<string>kiss_play</string>
				<key>image_speaker</key>
				<string>kiss_speaker</string>
				<key>sound_mp3</key>
				<string>kiss_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>lips_plain</string>
				<key>image_play</key>
				<string>lips_play</string>
				<key>image_speaker</key>
				<string>lips_speaker</string>
				<key>sound_mp3</key>
				<string>lips_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>poop_plain</string>
				<key>image_play</key>
				<string>poop_play</string>
				<key>image_speaker</key>
				<string>poop_speaker</string>
				<key>sound_mp3</key>
				<string>poop_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>dab_plain</string>
				<key>image_play</key>
				<string>dab_play</string>
				<key>image_speaker</key>
				<string>dab_speaker</string>
				<key>sound_mp3</key>
				<string>WhatBoom</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>burp_plain</string>
				<key>image_play</key>
				<string>burp_play</string>
				<key>image_speaker</key>
				<string>burp_speaker</string>
				<key>sound_mp3</key>
				<string>burp_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>angel_plain</string>
				<key>image_play</key>
				<string>angel_play</string>
				<key>image_speaker</key>
				<string>angel_speaker</string>
				<key>sound_mp3</key>
				<string>angel_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>anger_plain</string>
				<key>image_play</key>
				<string>anger_play</string>
				<key>image_speaker</key>
				<string>anger_speaker</string>
				<key>sound_mp3</key>
				<string>anger_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>braces_plain</string>
				<key>image_play</key>
				<string>braces_play</string>
				<key>image_speaker</key>
				<string>braces_speaker</string>
				<key>sound_mp3</key>
				<string>braces_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>omg_plain</string>
				<key>image_play</key>
				<string>omg_play</string>
				<key>image_speaker</key>
				<string>omg_speaker</string>
				<key>sound_mp3</key>
				<string>omg_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>heart_plain</string>
				<key>image_play</key>
				<string>heart_play</string>
				<key>image_speaker</key>
				<string>heart_speaker</string>
				<key>sound_mp3</key>
				<string>heart_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>heart-struck_plain</string>
				<key>image_play</key>
				<string>heart-struck_play</string>
				<key>image_speaker</key>
				<string>heart-struck_speaker</string>
				<key>sound_mp3</key>
				<string>heart-struck_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>broken-heart_plain</string>
				<key>image_play</key>
				<string>broken-heart_play</string>
				<key>image_speaker</key>
				<string>broken-heart_speaker</string>
				<key>sound_mp3</key>
				<string>broken-heart_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>fist-bump_plain</string>
				<key>image_play</key>
				<string>fist-bump_play</string>
				<key>image_speaker</key>
				<string>fist-bump_speaker</string>
				<key>sound_mp3</key>
				<string>fist-bump_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bestie_plain</string>
				<key>image_play</key>
				<string>bestie_play</string>
				<key>image_speaker</key>
				<string>bestie_speaker</string>
				<key>sound_mp3</key>
				<string>bestie_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>frown_plain</string>
				<key>image_play</key>
				<string>frown_play</string>
				<key>image_speaker</key>
				<string>frown_speaker</string>
				<key>sound_mp3</key>
				<string>frown_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>grin_plain</string>
				<key>image_play</key>
				<string>grin_play</string>
				<key>image_speaker</key>
				<string>grin_speaker</string>
				<key>sound_mp3</key>
				<string>grin_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>rofl_plain</string>
				<key>image_play</key>
				<string>rofl_play</string>
				<key>image_speaker</key>
				<string>rofl_speaker</string>
				<key>sound_mp3</key>
				<string>rofl_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>shades_plain</string>
				<key>image_play</key>
				<string>shades_play</string>
				<key>image_speaker</key>
				<string>shades_speaker</string>
				<key>sound_mp3</key>
				<string>shades_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>wink_plain</string>
				<key>image_play</key>
				<string>wink_play</string>
				<key>image_speaker</key>
				<string>wink_speaker</string>
				<key>sound_mp3</key>
				<string>wink_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sleep_plain</string>
				<key>image_play</key>
				<string>sleep_play</string>
				<key>image_speaker</key>
				<string>sleep_speaker</string>
				<key>sound_mp3</key>
				<string>sleep_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lol_plain</string>
				<key>image_play</key>
				<string>lol_play</string>
				<key>image_speaker</key>
				<string>lol_speaker</string>
				<key>sound_mp3</key>
				<string>lol_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>alien_plain</string>
				<key>image_play</key>
				<string>alien_play</string>
				<key>image_speaker</key>
				<string>alien_speaker</string>
				<key>sound_mp3</key>
				<string>alien_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lovelace-ge-plain</string>
				<key>image_play</key>
				<string>lovelace-ge-play</string>
				<key>image_speaker</key>
				<string>lovelace-ge-speaker</string>
				<key>sound_mp3</key>
				<string>lovelace-ge-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>amelia-ge-plain</string>
				<key>image_play</key>
				<string>amelia-ge-play</string>
				<key>image_speaker</key>
				<string>amelia-ge-speaker</string>
				<key>sound_mp3</key>
				<string>amelia-ge-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>praying-hands-plain</string>
				<key>image_play</key>
				<string>praying-hands-play</string>
				<key>image_speaker</key>
				<string>praying-hands-speaker</string>
				<key>sound_mp3</key>
				<string>si_dios_quiere_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>crossfingers_plain</string>
				<key>image_play</key>
				<string>crossfingers_play</string>
				<key>image_speaker</key>
				<string>crossfingers_speaker</string>
				<key>sound_mp3</key>
				<string>crossfingers_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bad-hair_plain</string>
				<key>image_play</key>
				<string>bad-hair_play</string>
				<key>image_speaker</key>
				<string>bad-hair_speaker</string>
				<key>sound_mp3</key>
				<string>bad-hair_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>all-yellow-girl-geek-pigtails-glasses-plain</string>
				<key>image_play</key>
				<string>all-yellow-girl-geek-pigtails-glasses-play</string>
				<key>image_speaker</key>
				<string>all-yellow-girl-geek-pigtails-glasses-speaker</string>
				<key>sound_mp3</key>
				<string>all-yellow-girl-geek-pigtails-glasses-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl-basketball-darker-plain</string>
				<key>image_play</key>
				<string>girl-basketball-darker-play</string>
				<key>image_speaker</key>
				<string>girl-basketball-darker-speaker</string>
				<key>sound_mp3</key>
				<string>girl-basketball-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>girl-basketball-darkest-plain</string>
				<key>image_play</key>
				<string>girl-basketball-darkest-play</string>
				<key>image_speaker</key>
				<string>girl-basketball-darkest-speaker</string>
				<key>sound_mp3</key>
				<string>girl-basketball-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>girl-basketball-white-plain</string>
				<key>image_play</key>
				<string>girl-basketball-white-play</string>
				<key>image_speaker</key>
				<string>girl-basketball-white-speaker</string>
				<key>sound_mp3</key>
				<string>girl-basketball-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl-softball-darker-plain</string>
				<key>image_play</key>
				<string>girl-softball-darker-play</string>
				<key>image_speaker</key>
				<string>girl-softball-darker-speaker</string>
				<key>sound_mp3</key>
				<string>girl-softball-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl-softball-darkest-plain</string>
				<key>image_play</key>
				<string>girl-softball-darkest-play</string>
				<key>image_speaker</key>
				<string>girl-softball-darkest-speaker</string>
				<key>sound_mp3</key>
				<string>girl-softball-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl-softball-white-plain</string>
				<key>image_play</key>
				<string>girl-softball-white-play</string>
				<key>image_speaker</key>
				<string>girl-softball-white-speaker</string>
				<key>sound_mp3</key>
				<string>girl-softball-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>surf_plain</string>
				<key>image_play</key>
				<string>surf_play</string>
				<key>image_speaker</key>
				<string>surf_speaker</string>
				<key>sound_mp3</key>
				<string>surf_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>girl_boxing-darker-plain</string>
				<key>image_play</key>
				<string>girl_boxing-darker-play</string>
				<key>image_speaker</key>
				<string>girl_boxing-darker-speaker</string>
				<key>sound_mp3</key>
				<string>girl_boxing-darker-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl_runner-darkest-plain</string>
				<key>image_play</key>
				<string>girl_runner-darkest-play</string>
				<key>image_speaker</key>
				<string>girl_runner-darkest-speaker</string>
				<key>sound_mp3</key>
				<string>girl_runner-darkest-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl_soccer-darker-plain</string>
				<key>image_play</key>
				<string>girl_soccer-darker-play</string>
				<key>image_speaker</key>
				<string>girl_soccer-darker-speaker</string>
				<key>sound_mp3</key>
				<string>girl_soccer-darker-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>girl_weights-white-plain</string>
				<key>image_play</key>
				<string>girl_weights-white-play</string>
				<key>image_speaker</key>
				<string>girl_weights-white-speaker</string>
				<key>sound_mp3</key>
				<string>girl_weights-white-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>surfboard2-plain</string>
				<key>image_play</key>
				<string>surfboard2-play</string>
				<key>image_speaker</key>
				<string>surfboard2-speaker</string>
				<key>sound_mp3</key>
				<string>surfboard2-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>AudiotsApp4Fun-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
