<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>alarm-clock_plain</string>
				<key>image_play</key>
				<string>alarm-clock_play</string>
				<key>image_speaker</key>
				<string>alarm-clock_speaker</string>
				<key>sound_mp3</key>
				<string>alarm-clock_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>baseball_plain</string>
				<key>image_play</key>
				<string>baseball_play</string>
				<key>image_speaker</key>
				<string>baseball_speaker</string>
				<key>sound_mp3</key>
				<string>baseball_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>basketball_plain</string>
				<key>image_play</key>
				<string>basketball_play</string>
				<key>image_speaker</key>
				<string>basketball_speaker</string>
				<key>sound_mp3</key>
				<string>basketball_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>broken-record_plain</string>
				<key>image_play</key>
				<string>broken-record_play</string>
				<key>image_speaker</key>
				<string>broken-record_speaker</string>
				<key>sound_mp3</key>
				<string>broken-record_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bubbles_plain</string>
				<key>image_play</key>
				<string>bubbles_play</string>
				<key>image_speaker</key>
				<string>bubbles_speaker</string>
				<key>sound_mp3</key>
				<string>bubbles_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>call-me_plain</string>
				<key>image_play</key>
				<string>call-me_play</string>
				<key>image_speaker</key>
				<string>call-me_speaker</string>
				<key>sound_mp3</key>
				<string>call-me_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>camera_plain</string>
				<key>image_play</key>
				<string>camera_play</string>
				<key>image_speaker</key>
				<string>camera_speaker</string>
				<key>sound_mp3</key>
				<string>camera_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>celebrate_plain</string>
				<key>image_play</key>
				<string>celebrate_play</string>
				<key>image_speaker</key>
				<string>celebrate_speaker</string>
				<key>sound_mp3</key>
				<string>celebrate_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>drum_plain</string>
				<key>image_play</key>
				<string>drum_play</string>
				<key>image_speaker</key>
				<string>drum_speaker</string>
				<key>sound_mp3</key>
				<string>drum_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>football_plain</string>
				<key>image_play</key>
				<string>football_play</string>
				<key>image_speaker</key>
				<string>football_speaker</string>
				<key>sound_mp3</key>
				<string>football_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>front-door_plain</string>
				<key>image_play</key>
				<string>front-door_play</string>
				<key>image_speaker</key>
				<string>front-door_speaker</string>
				<key>sound_mp3</key>
				<string>front-door_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>gold-medal_plain</string>
				<key>image_play</key>
				<string>gold-medal_play</string>
				<key>image_speaker</key>
				<string>gold-medal_speaker</string>
				<key>sound_mp3</key>
				<string>gold-medal_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>guitar_plain</string>
				<key>image_play</key>
				<string>guitar_play</string>
				<key>image_speaker</key>
				<string>guitar_speaker</string>
				<key>sound_mp3</key>
				<string>guitar_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hair-spray_plain</string>
				<key>image_play</key>
				<string>hair-spray_play</string>
				<key>image_speaker</key>
				<string>hair-spray_speaker</string>
				<key>sound_mp3</key>
				<string>hair-spray_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>meeting_plain</string>
				<key>image_play</key>
				<string>meeting_play</string>
				<key>image_speaker</key>
				<string>meeting_speaker</string>
				<key>sound_mp3</key>
				<string>meeting_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>microphone_plain</string>
				<key>image_play</key>
				<string>microphone_play</string>
				<key>image_speaker</key>
				<string>microphone_speaker</string>
				<key>sound_mp3</key>
				<string>microphone_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>my-house_plain</string>
				<key>image_play</key>
				<string>my-house_play</string>
				<key>image_speaker</key>
				<string>my-house_speaker</string>
				<key>sound_mp3</key>
				<string>my-house_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>piano_plain</string>
				<key>image_play</key>
				<string>piano_play</string>
				<key>image_speaker</key>
				<string>piano_speaker</string>
				<key>sound_mp3</key>
				<string>piano_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>plane_plain</string>
				<key>image_play</key>
				<string>plane_play</string>
				<key>image_speaker</key>
				<string>plane_speaker</string>
				<key>sound_mp3</key>
				<string>plane_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>poop_plain</string>
				<key>image_play</key>
				<string>poop_play</string>
				<key>image_speaker</key>
				<string>poop_speaker</string>
				<key>sound_mp3</key>
				<string>poop_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>saxophone_plain</string>
				<key>image_play</key>
				<string>saxophone_play</string>
				<key>image_speaker</key>
				<string>saxophone_speaker</string>
				<key>sound_mp3</key>
				<string>saxophone_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>shower_plain</string>
				<key>image_play</key>
				<string>shower_play</string>
				<key>image_speaker</key>
				<string>shower_speaker</string>
				<key>sound_mp3</key>
				<string>shower_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>soccer_plain</string>
				<key>image_play</key>
				<string>soccer_play</string>
				<key>image_speaker</key>
				<string>soccer_speaker</string>
				<key>sound_mp3</key>
				<string>soccer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>team-cheer_plain</string>
				<key>image_play</key>
				<string>team-cheer_play</string>
				<key>image_speaker</key>
				<string>team-cheer_speaker</string>
				<key>sound_mp3</key>
				<string>team-cheer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>toilet_plain</string>
				<key>image_play</key>
				<string>toilet_play</string>
				<key>image_speaker</key>
				<string>toilet_speaker</string>
				<key>sound_mp3</key>
				<string>toilet_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>car_plain</string>
				<key>image_play</key>
				<string>car_play</string>
				<key>image_speaker</key>
				<string>car_speaker</string>
				<key>sound_mp3</key>
				<string>car_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>contract_plain</string>
				<key>image_play</key>
				<string>contract_play</string>
				<key>image_speaker</key>
				<string>contract_speaker</string>
				<key>sound_mp3</key>
				<string>contract_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>hammer_plain</string>
				<key>image_play</key>
				<string>hammer_play</string>
				<key>image_speaker</key>
				<string>hammer_speaker</string>
				<key>sound_mp3</key>
				<string>hammer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>hightoptennisshoes_plain</string>
				<key>image_play</key>
				<string>hightoptennisshoes_play</string>
				<key>image_speaker</key>
				<string>hightoptennisshoes_speaker</string>
				<key>sound_mp3</key>
				<string>hightoptennisshoes_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lipstick_plain</string>
				<key>image_play</key>
				<string>lipstick_play</string>
				<key>image_speaker</key>
				<string>lipstick_speaker</string>
				<key>sound_mp3</key>
				<string>lipstick_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>minnesota_plain</string>
				<key>image_play</key>
				<string>minnesota_play</string>
				<key>image_speaker</key>
				<string>minnesota_speaker</string>
				<key>sound_mp3</key>
				<string>minnesota_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>mirror_plain</string>
				<key>image_play</key>
				<string>mirror_play</string>
				<key>image_speaker</key>
				<string>mirror_speaker</string>
				<key>sound_mp3</key>
				<string>mirror_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>moneybag_plain</string>
				<key>image_play</key>
				<string>moneybag_play</string>
				<key>image_speaker</key>
				<string>moneybag_speaker</string>
				<key>sound_mp3</key>
				<string>moneybag_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>motorcycle_plain</string>
				<key>image_play</key>
				<string>motorcycle_play</string>
				<key>image_speaker</key>
				<string>motorcycle_speaker</string>
				<key>sound_mp3</key>
				<string>motorcycle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pot-of-gold_plain</string>
				<key>image_play</key>
				<string>pot-of-gold_play</string>
				<key>image_speaker</key>
				<string>pot-of-gold_speaker</string>
				<key>sound_mp3</key>
				<string>pot-of-gold_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>tennisracquet_plain</string>
				<key>image_play</key>
				<string>tennisracquet_play</string>
				<key>image_speaker</key>
				<string>tennisracquet_speaker</string>
				<key>sound_mp3</key>
				<string>tennisracquet_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>vote_plain</string>
				<key>image_play</key>
				<string>vote_play</string>
				<key>image_speaker</key>
				<string>vote_speaker</string>
				<key>sound_mp3</key>
				<string>vote_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sleepingbag_plain</string>
				<key>image_play</key>
				<string>sleepingbag_play</string>
				<key>image_speaker</key>
				<string>sleepingbag_speaker</string>
				<key>sound_mp3</key>
				<string>sleepingbag_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_three_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>					
		</array>
	</dict>
</array>
</plist>
