<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>beach-plain</string>
				<key>image_play</key>
				<string>beach-play</string>
				<key>image_speaker</key>
				<string>beach-speaker</string>
				<key>sound_mp3</key>
				<string>beach-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>engagement-ring-plain</string>
				<key>image_play</key>
				<string>engagement-ring-play</string>
				<key>image_speaker</key>
				<string>engagement-ring-speaker</string>
				<key>sound_mp3</key>
				<string>engagement-ring-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>flowers-in-vase-plain</string>
				<key>image_play</key>
				<string>flowers-in-vase-play</string>
				<key>image_speaker</key>
				<string>flowers-in-vase-speaker</string>
				<key>sound_mp3</key>
				<string>flowers-in-vase-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>moon-plain</string>
				<key>image_play</key>
				<string>moon-play</string>
				<key>image_speaker</key>
				<string>moon-speaker</string>
				<key>sound_mp3</key>
				<string>moon-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>rainbow-plain</string>
				<key>image_play</key>
				<string>rainbow-play</string>
				<key>image_speaker</key>
				<string>rainbow-speaker</string>
				<key>sound_mp3</key>
				<string>rainbow-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>star-plain</string>
				<key>image_play</key>
				<string>star-play</string>
				<key>image_speaker</key>
				<string>star-speaker</string>
				<key>sound_mp3</key>
				<string>star-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sun-plain</string>
				<key>image_play</key>
				<string>sun-play</string>
				<key>image_speaker</key>
				<string>sun-speaker</string>
				<key>sound_mp3</key>
				<string>sun-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>taxi-plain</string>
				<key>image_play</key>
				<string>taxi-play</string>
				<key>image_speaker</key>
				<string>taxi-speaker</string>
				<key>sound_mp3</key>
				<string>taxi-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
