<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>blackberry-hint-plain</string>
				<key>image_play</key>
				<string>blackberry-hint-play</string>
				<key>image_speaker</key>
				<string>blackberry-hint-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_BlackberryPour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>blackberry-hint-fizz-plain</string>
				<key>image_play</key>
				<string>blackberry-hint-fizz-play</string>
				<key>image_speaker</key>
				<string>blackberry-hint-fizz-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_BlackberryFizz-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>cherry-hint-fizz-v2-plain</string>
				<key>image_play</key>
				<string>cherry-hint-fizz-v2-play</string>
				<key>image_speaker</key>
				<string>cherry-hint-fizz-v2-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_CherryFizz-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>green-apple-hint-v2-plain</string>
				<key>image_play</key>
				<string>green-apple-hint-v2-play</string>
				<key>image_speaker</key>
				<string>green-apple-hint-v2-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_CrispApplePour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>Peach-Hint_Fizz2-plain</string>
				<key>image_play</key>
				<string>Peach-Hint_Fizz2_play</string>
				<key>image_speaker</key>
				<string>Peach_hint_fizz_speaker2</string>
				<key>sound_mp3</key>
				<string>Hint_PeachPour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>peach-hint-v2-plain</string>
				<key>image_play</key>
				<string>peach-hint-v2-play</string>
				<key>image_speaker</key>
				<string>peach-hint-v2-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_PeachPour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pineapple-hint-v2-plain</string>
				<key>image_play</key>
				<string>pineapple-hint-v2-play</string>
				<key>image_speaker</key>
				<string>pineapple-hint-v2-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_PineapplePour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>watermelon-hint1-plain</string>
				<key>image_play</key>
				<string>watermelon-hint1-play</string>
				<key>image_speaker</key>
				<string>watermelon-hint1-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_WatermelonPour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>watermelon-hint-fizz-plain</string>
				<key>image_play</key>
				<string>watermelon-hint-fizz-play</string>
				<key>image_speaker</key>
				<string>watermelon-hint-fizz-speaker</string>
				<key>sound_mp3</key>
				<string>Hint_WatermelonFizz-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>rainbow-plain</string>
				<key>image_play</key>
				<string>rainbow-play</string>
				<key>image_speaker</key>
				<string>rainbow-speaker</string>
				<key>sound_mp3</key>
				<string>rainbow-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>beach-plain</string>
				<key>image_play</key>
				<string>beach-play</string>
				<key>image_speaker</key>
				<string>beach-speaker</string>
				<key>sound_mp3</key>
				<string>beach-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>moon-plain</string>
				<key>image_play</key>
				<string>moon-play</string>
				<key>image_speaker</key>
				<string>moon-speaker</string>
				<key>sound_mp3</key>
				<string>moon-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>

			<dict>
				<key>image_plain</key>
				<string>star-plain</string>
				<key>image_play</key>
				<string>star-play</string>
				<key>image_speaker</key>
				<string>star-speaker</string>
				<key>sound_mp3</key>
				<string>star-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sun-plain</string>
				<key>image_play</key>
				<string>sun-play</string>
				<key>image_speaker</key>
				<string>sun-speaker</string>
				<key>sound_mp3</key>
				<string>sun-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>						
			<dict>
				<key>image_plain</key>
				<string>camp_plain</string>
				<key>image_play</key>
				<string>camp_play</string>
				<key>image_speaker</key>
				<string>camp_speaker</string>
				<key>sound_mp3</key>
				<string>camp_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>cow_plain</string>
				<key>image_play</key>
				<string>cow_play</string>
				<key>image_speaker</key>
				<string>cow_speaker</string>
				<key>sound_mp3</key>
				<string>cow_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>crab_plain</string>
				<key>image_play</key>
				<string>crab_play</string>
				<key>image_speaker</key>
				<string>crab_speaker</string>
				<key>sound_mp3</key>
				<string>crab_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>elephant_plain</string>
				<key>image_play</key>
				<string>elephant_play</string>
				<key>image_speaker</key>
				<string>elephant_speaker</string>
				<key>sound_mp3</key>
				<string>elephant_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>flame_plain</string>
				<key>image_play</key>
				<string>flame_play</string>
				<key>image_speaker</key>
				<string>flame_speaker</string>
				<key>sound_mp3</key>
				<string>flame_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>ghost_plain</string>
				<key>image_play</key>
				<string>ghost_play</string>
				<key>image_speaker</key>
				<string>ghost_speaker</string>
				<key>sound_mp3</key>
				<string>ghost_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>kitty_plain</string>
				<key>image_play</key>
				<string>kitty_play</string>
				<key>image_speaker</key>
				<string>kitty_speaker</string>
				<key>sound_mp3</key>
				<string>kitty_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lightening_plain</string>
				<key>image_play</key>
				<string>lightening_play</string>
				<key>image_speaker</key>
				<string>lightening_speaker</string>
				<key>sound_mp3</key>
				<string>lightening_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>monkey_plain</string>
				<key>image_play</key>
				<string>monkey_play</string>
				<key>image_speaker</key>
				<string>monkey_speaker</string>
				<key>sound_mp3</key>
				<string>monkey_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>penguin_plain</string>
				<key>image_play</key>
				<string>penguin_play</string>
				<key>image_speaker</key>
				<string>penguin_speaker</string>
				<key>sound_mp3</key>
				<string>penguin_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pig_plain</string>
				<key>image_play</key>
				<string>pig_play</string>
				<key>image_speaker</key>
				<string>pig_speaker</string>
				<key>sound_mp3</key>
				<string>pig_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>puppy_plain</string>
				<key>image_play</key>
				<string>puppy_play</string>
				<key>image_speaker</key>
				<string>puppy_speaker</string>
				<key>sound_mp3</key>
				<string>puppy_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>reindeer_plain</string>
				<key>image_play</key>
				<string>reindeer_play</string>
				<key>image_speaker</key>
				<string>reindeer_speaker</string>
				<key>sound_mp3</key>
				<string>reindeer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sheep_plain</string>
				<key>image_play</key>
				<string>sheep_play</string>
				<key>image_speaker</key>
				<string>sheep_speaker</string>
				<key>sound_mp3</key>
				<string>sheep_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>snowboard_plain</string>
				<key>image_play</key>
				<string>snowboard_play</string>
				<key>image_speaker</key>
				<string>snowboard_speaker</string>
				<key>sound_mp3</key>
				<string>snowboard_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>squirrel_plain</string>
				<key>image_play</key>
				<string>squirrel_play</string>
				<key>image_speaker</key>
				<string>squirrel_speaker</string>
				<key>sound_mp3</key>
				<string>squirrel_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>surf_plain</string>
				<key>image_play</key>
				<string>surf_play</string>
				<key>image_speaker</key>
				<string>surf_speaker</string>
				<key>sound_mp3</key>
				<string>surf_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>wind-gust_plain</string>
				<key>image_play</key>
				<string>wind-gust_play</string>
				<key>image_speaker</key>
				<string>wind-gust_speaker</string>
				<key>sound_mp3</key>
				<string>wind-gust_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hamster_plain</string>
				<key>image_play</key>
				<string>hamster_play</string>
				<key>image_speaker</key>
				<string>hamster_speaker</string>
				<key>sound_mp3</key>
				<string>hamster_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>4-leaf-clover_plain</string>
				<key>image_play</key>
				<string>4-leaf-clover_play</string>
				<key>image_speaker</key>
				<string>4-leaf-clover_speaker</string>
				<key>sound_mp3</key>
				<string>4-leaf-clover_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>leprechaun_plain</string>
				<key>image_play</key>
				<string>leprechaun_play</string>
				<key>image_speaker</key>
				<string>leprechaun_speaker</string>
				<key>sound_mp3</key>
				<string>leprechaun_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_two_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
						<dict>
				<key>image_plain</key>
				<string>banana_plain</string>
				<key>image_play</key>
				<string>banana_play</string>
				<key>image_speaker</key>
				<string>banana_speaker</string>
				<key>sound_mp3</key>
				<string>banana_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>beer_plain</string>
				<key>image_play</key>
				<string>beer_play</string>
				<key>image_speaker</key>
				<string>beer_speaker</string>
				<key>sound_mp3</key>
				<string>beer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>birthday-cake_plain</string>
				<key>image_play</key>
				<string>birthday-cake_play</string>
				<key>image_speaker</key>
				<string>birthday-cake_speaker</string>
				<key>sound_mp3</key>
				<string>birthday-cake_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bottle_plain</string>
				<key>image_play</key>
				<string>bottle_play</string>
				<key>image_speaker</key>
				<string>bottle_speaker</string>
				<key>sound_mp3</key>
				<string>bottle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>champange_plain</string>
				<key>image_play</key>
				<string>champange_play</string>
				<key>image_speaker</key>
				<string>champange_speaker</string>
				<key>sound_mp3</key>
				<string>champange_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>coffee_plain</string>
				<key>image_play</key>
				<string>coffee_play</string>
				<key>image_speaker</key>
				<string>coffee_speaker</string>
				<key>sound_mp3</key>
				<string>coffee_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>ice-cream_plain</string>
				<key>image_play</key>
				<string>ice-cream_play</string>
				<key>image_speaker</key>
				<string>ice-cream_speaker</string>
				<key>sound_mp3</key>
				<string>ice-cream_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pickle_plain</string>
				<key>image_play</key>
				<string>pickle_play</string>
				<key>image_speaker</key>
				<string>pickle_speaker</string>
				<key>sound_mp3</key>
				<string>pickle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pizza_plain</string>
				<key>image_play</key>
				<string>pizza_play</string>
				<key>image_speaker</key>
				<string>pizza_speaker</string>
				<key>sound_mp3</key>
				<string>pizza_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hamburger_plain</string>
				<key>image_play</key>
				<string>hamburger_play</string>
				<key>image_speaker</key>
				<string>hamburger_speaker</string>
				<key>sound_mp3</key>
				<string>hamburger_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>candy_plain</string>
				<key>image_play</key>
				<string>candy_play</string>
				<key>image_speaker</key>
				<string>candy_speaker</string>
				<key>sound_mp3</key>
				<string>candy_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>taco_plain</string>
				<key>image_play</key>
				<string>taco_play</string>
				<key>image_speaker</key>
				<string>taco_speaker</string>
				<key>sound_mp3</key>
				<string>taco_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>noodles_plain</string>
				<key>image_play</key>
				<string>noodles_play</string>
				<key>image_speaker</key>
				<string>noodles_speaker</string>
				<key>sound_mp3</key>
				<string>noodles_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bobadrink_plain</string>
				<key>image_play</key>
				<string>bobadrink_play</string>
				<key>image_speaker</key>
				<string>bobadrink_speaker</string>
				<key>sound_mp3</key>
				<string>bobadrink_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_three_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
