<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>camp_plain</string>
				<key>image_play</key>
				<string>camp_play</string>
				<key>image_speaker</key>
				<string>camp_speaker</string>
				<key>sound_mp3</key>
				<string>camp_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>cow_plain</string>
				<key>image_play</key>
				<string>cow_play</string>
				<key>image_speaker</key>
				<string>cow_speaker</string>
				<key>sound_mp3</key>
				<string>cow_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>crab_plain</string>
				<key>image_play</key>
				<string>crab_play</string>
				<key>image_speaker</key>
				<string>crab_speaker</string>
				<key>sound_mp3</key>
				<string>crab_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>elephant_plain</string>
				<key>image_play</key>
				<string>elephant_play</string>
				<key>image_speaker</key>
				<string>elephant_speaker</string>
				<key>sound_mp3</key>
				<string>elephant_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>flame_plain</string>
				<key>image_play</key>
				<string>flame_play</string>
				<key>image_speaker</key>
				<string>flame_speaker</string>
				<key>sound_mp3</key>
				<string>flame_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>ghost_plain</string>
				<key>image_play</key>
				<string>ghost_play</string>
				<key>image_speaker</key>
				<string>ghost_speaker</string>
				<key>sound_mp3</key>
				<string>ghost_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>kitty_plain</string>
				<key>image_play</key>
				<string>kitty_play</string>
				<key>image_speaker</key>
				<string>kitty_speaker</string>
				<key>sound_mp3</key>
				<string>kitty_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lightening_plain</string>
				<key>image_play</key>
				<string>lightening_play</string>
				<key>image_speaker</key>
				<string>lightening_speaker</string>
				<key>sound_mp3</key>
				<string>lightening_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>monkey_plain</string>
				<key>image_play</key>
				<string>monkey_play</string>
				<key>image_speaker</key>
				<string>monkey_speaker</string>
				<key>sound_mp3</key>
				<string>monkey_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>penguin_plain</string>
				<key>image_play</key>
				<string>penguin_play</string>
				<key>image_speaker</key>
				<string>penguin_speaker</string>
				<key>sound_mp3</key>
				<string>penguin_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pig_plain</string>
				<key>image_play</key>
				<string>pig_play</string>
				<key>image_speaker</key>
				<string>pig_speaker</string>
				<key>sound_mp3</key>
				<string>pig_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>puppy_plain</string>
				<key>image_play</key>
				<string>puppy_play</string>
				<key>image_speaker</key>
				<string>puppy_speaker</string>
				<key>sound_mp3</key>
				<string>puppy_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>reindeer_plain</string>
				<key>image_play</key>
				<string>reindeer_play</string>
				<key>image_speaker</key>
				<string>reindeer_speaker</string>
				<key>sound_mp3</key>
				<string>reindeer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>sheep_plain</string>
				<key>image_play</key>
				<string>sheep_play</string>
				<key>image_speaker</key>
				<string>sheep_speaker</string>
				<key>sound_mp3</key>
				<string>sheep_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>snowboard_plain</string>
				<key>image_play</key>
				<string>snowboard_play</string>
				<key>image_speaker</key>
				<string>snowboard_speaker</string>
				<key>sound_mp3</key>
				<string>snowboard_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>squirrel_plain</string>
				<key>image_play</key>
				<string>squirrel_play</string>
				<key>image_speaker</key>
				<string>squirrel_speaker</string>
				<key>sound_mp3</key>
				<string>squirrel_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>surf_plain</string>
				<key>image_play</key>
				<string>surf_play</string>
				<key>image_speaker</key>
				<string>surf_speaker</string>
				<key>sound_mp3</key>
				<string>surf_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>wind-gust_plain</string>
				<key>image_play</key>
				<string>wind-gust_play</string>
				<key>image_speaker</key>
				<string>wind-gust_speaker</string>
				<key>sound_mp3</key>
				<string>wind-gust_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hamster_plain</string>
				<key>image_play</key>
				<string>hamster_play</string>
				<key>image_speaker</key>
				<string>hamster_speaker</string>
				<key>sound_mp3</key>
				<string>hamster_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>4-leaf-clover_plain</string>
				<key>image_play</key>
				<string>4-leaf-clover_play</string>
				<key>image_speaker</key>
				<string>4-leaf-clover_speaker</string>
				<key>sound_mp3</key>
				<string>4-leaf-clover_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>leprechaun_plain</string>
				<key>image_play</key>
				<string>leprechaun_play</string>
				<key>image_speaker</key>
				<string>leprechaun_speaker</string>
				<key>sound_mp3</key>
				<string>leprechaun_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_two_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
