<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>banana_plain</string>
				<key>image_play</key>
				<string>banana_play</string>
				<key>image_speaker</key>
				<string>banana_speaker</string>
				<key>sound_mp3</key>
				<string>banana_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>beer_plain</string>
				<key>image_play</key>
				<string>beer_play</string>
				<key>image_speaker</key>
				<string>beer_speaker</string>
				<key>sound_mp3</key>
				<string>beer_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>birthday-cake_plain</string>
				<key>image_play</key>
				<string>birthday-cake_play</string>
				<key>image_speaker</key>
				<string>birthday-cake_speaker</string>
				<key>sound_mp3</key>
				<string>birthday-cake_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bottle_plain</string>
				<key>image_play</key>
				<string>bottle_play</string>
				<key>image_speaker</key>
				<string>bottle_speaker</string>
				<key>sound_mp3</key>
				<string>bottle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>champange_plain</string>
				<key>image_play</key>
				<string>champange_play</string>
				<key>image_speaker</key>
				<string>champange_speaker</string>
				<key>sound_mp3</key>
				<string>champange_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>coffee_plain</string>
				<key>image_play</key>
				<string>coffee_play</string>
				<key>image_speaker</key>
				<string>coffee_speaker</string>
				<key>sound_mp3</key>
				<string>coffee_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>ice-cream_plain</string>
				<key>image_play</key>
				<string>ice-cream_play</string>
				<key>image_speaker</key>
				<string>ice-cream_speaker</string>
				<key>sound_mp3</key>
				<string>ice-cream_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pickle_plain</string>
				<key>image_play</key>
				<string>pickle_play</string>
				<key>image_speaker</key>
				<string>pickle_speaker</string>
				<key>sound_mp3</key>
				<string>pickle_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pizza_plain</string>
				<key>image_play</key>
				<string>pizza_play</string>
				<key>image_speaker</key>
				<string>pizza_speaker</string>
				<key>sound_mp3</key>
				<string>pizza_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>hamburger_plain</string>
				<key>image_play</key>
				<string>hamburger_play</string>
				<key>image_speaker</key>
				<string>hamburger_speaker</string>
				<key>sound_mp3</key>
				<string>hamburger_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>candy_plain</string>
				<key>image_play</key>
				<string>candy_play</string>
				<key>image_speaker</key>
				<string>candy_speaker</string>
				<key>sound_mp3</key>
				<string>candy_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>noodles_plain</string>
				<key>image_play</key>
				<string>noodles_play</string>
				<key>image_speaker</key>
				<string>noodles_speaker</string>
				<key>sound_mp3</key>
				<string>noodles_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>bobadrink_plain</string>
				<key>image_play</key>
				<string>bobadrink_play</string>
				<key>image_speaker</key>
				<string>bobadrink_speaker</string>
				<key>sound_mp3</key>
				<string>bobadrink_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>logo_pack_three_sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
