<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>logo_plain</string>
				<key>image_play</key>
				<string>logo_play</string>
				<key>image_speaker</key>
				<string>logo_speaker</string>
				<key>sound_mp3</key>
				<string>AudiotsApp4Fun-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>			
		</array>
	</dict>
</array>
</plist>
