<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>Pink Smiley</string>
				<key>image_play</key>
				<string>Pink Smiley</string>
				<key>image_speaker</key>
				<string>Pink Smiley</string>
				<key>sound_mp3</key>
				<string>Hint_BlackberryPour-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>SPCA</string>
				<key>image_play</key>
				<string>SPCA</string>
				<key>image_speaker</key>
				<string>SPCA</string>
				<key>sound_mp3</key>
				<string>Hint_CherryFizz-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
