<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>	
			<dict>
				<key>image_plain</key>
				<string>little-dog-1-plain</string>
				<key>image_play</key>
				<string>little-dog-1-play</string>
				<key>image_speaker</key>
				<string>little-dog-1-speaker</string>
				<key>sound_mp3</key>
				<string>AdoptPetToday</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>little-dog-2-plain</string>
				<key>image_play</key>
				<string>little-dog-2-play</string>
				<key>image_speaker</key>
				<string>little-dog-2-speaker</string>
				<key>sound_mp3</key>
				<string>PickMe</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>little-dog-3-plain</string>
				<key>image_play</key>
				<string>little-dog-3-play</string>
				<key>image_speaker</key>
				<string>little-dog-3-speaker</string>
				<key>sound_mp3</key>
				<string>ILoveDogs</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>little-dog-4-plain</string>
				<key>image_play</key>
				<string>little-dog-4-play</string>
				<key>image_speaker</key>
				<string>little-dog-4-speaker</string>
				<key>sound_mp3</key>
				<string>AdoptPetToday</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>spca_cat_antlers-plain</string>
				<key>image_play</key>
				<string>spca_cat_antlers_play</string>
				<key>image_speaker</key>
				<string>spca_cat_antlers_speaker</string>
				<key>sound_mp3</key>
				<string>JingleBellsCat</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>spca_dog_antlers_plain</string>
				<key>image_play</key>
				<string>spca_dog_antlers_play</string>
				<key>image_speaker</key>
				<string>spca_dog_antlers_speaker</string>
				<key>sound_mp3</key>
				<string>LoveTheHowladays</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat3-plain</string>
				<key>image_play</key>
				<string>cat3-play</string>
				<key>image_speaker</key>
				<string>cat3-speaker</string>
				<key>sound_mp3</key>
				<string>cat3-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat4-plain</string>
				<key>image_play</key>
				<string>cat4-play</string>
				<key>image_speaker</key>
				<string>cat4-speaker</string>
				<key>sound_mp3</key>
				<string>cat4-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat5-plain</string>
				<key>image_play</key>
				<string>cat5-play</string>
				<key>image_speaker</key>
				<string>cat5-speaker</string>
				<key>sound_mp3</key>
				<string>cat5-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat6-plain</string>
				<key>image_play</key>
				<string>cat6-play</string>
				<key>image_speaker</key>
				<string>cat6-speaker</string>
				<key>sound_mp3</key>
				<string>cat6-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat7-plain</string>
				<key>image_play</key>
				<string>cat7-play</string>
				<key>image_speaker</key>
				<string>cat7-speaker</string>
				<key>sound_mp3</key>
				<string>cat7-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat8-plain</string>
				<key>image_play</key>
				<string>cat8-play</string>
				<key>image_speaker</key>
				<string>cat8-speaker</string>
				<key>sound_mp3</key>
				<string>cat8-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat9-plain</string>
				<key>image_play</key>
				<string>cat9-play</string>
				<key>image_speaker</key>
				<string>cat9-speaker</string>
				<key>sound_mp3</key>
				<string>cat9-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>cat10-plain</string>
				<key>image_play</key>
				<string>cat10-play</string>
				<key>image_speaker</key>
				<string>cat10-speaker</string>
				<key>sound_mp3</key>
				<string>cat10-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>dog1-plain</string>
				<key>image_play</key>
				<string>dog1-play</string>
				<key>image_speaker</key>
				<string>dog1-speaker</string>
				<key>sound_mp3</key>
				<string>dog1-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>									
			<dict>
				<key>image_plain</key>
				<string>dog3-plain</string>
				<key>image_play</key>
				<string>dog3-play</string>
				<key>image_speaker</key>
				<string>dog3-speaker</string>
				<key>sound_mp3</key>
				<string>dog3-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>								
			<dict>
				<key>image_plain</key>
				<string>dog5-plain</string>
				<key>image_play</key>
				<string>dog5-play</string>
				<key>image_speaker</key>
				<string>dog5-speaker</string>
				<key>sound_mp3</key>
				<string>dog5-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>					
			<dict>
				<key>image_plain</key>
				<string>dog6-plain</string>
				<key>image_play</key>
				<string>dog6-play</string>
				<key>image_speaker</key>
				<string>dog6-speaker</string>
				<key>sound_mp3</key>
				<string>dog6-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>					
			<dict>
				<key>image_plain</key>
				<string>dog7-plain</string>
				<key>image_play</key>
				<string>dog7-play</string>
				<key>image_speaker</key>
				<string>dog7-speaker</string>
				<key>sound_mp3</key>
				<string>dog7-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>					
			<dict>
				<key>image_plain</key>
				<string>dog8-plain</string>
				<key>image_play</key>
				<string>dog8-play</string>
				<key>image_speaker</key>
				<string>dog8-speaker</string>
				<key>sound_mp3</key>
				<string>dog8-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.premium</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>dummy</string>
				<key>image_play</key>
				<string>dummy</string>
				<key>image_speaker</key>
				<string>dummy</string>
				<key>sound_mp3</key>
				<string>dummy</string>
				<key>in_app_bundle_id</key>
				<string>dummy</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>3hearts-plain</string>
				<key>image_play</key>
				<string>3hearts-play</string>
				<key>image_speaker</key>
				<string>3hearts-speaker</string>
				<key>sound_mp3</key>
				<string>ILoveUSoSoSoMuch</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>be-awesome-today-pillow-plain</string>
				<key>image_play</key>
				<string>be-awesome-today-pillow-play</string>
				<key>image_speaker</key>
				<string>be-awesome-today-pillow-speaker</string>
				<key>sound_mp3</key>
				<string>BeAwesomeToday</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>logo-board-plain</string>
				<key>image_play</key>
				<string>logo-board-play</string>
				<key>image_speaker</key>
				<string>logo-board-speaker</string>
				<key>sound_mp3</key>
				<string>SupportTheSashaProject</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>paint-spattered-jeans-plain</string>
				<key>image_play</key>
				<string>paint-spattered-jeans-play</string>
				<key>image_speaker</key>
				<string>paint-spattered-jeans-speaker</string>
				<key>sound_mp3</key>
				<string>PaintingJeansSoMuchFun_1</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>sasha-plain</string>
				<key>image_play</key>
				<string>sasha-play</string>
				<key>image_speaker</key>
				<string>sasha-speaker</string>
				<key>sound_mp3</key>
				<string>CheckOutMyHandPantedJeans</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>thank-you-plain</string>
				<key>image_play</key>
				<string>thank-you-play</string>
				<key>image_speaker</key>
				<string>thank-you-speaker</string>
				<key>sound_mp3</key>
				<string>ThankYouSupportTheSashaProject</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>star-painted-jeans-plain</string>
				<key>image_play</key>
				<string>star-painted-jeans-play</string>
				<key>image_speaker</key>
				<string>star-painted-jeans-speaker</string>
				<key>sound_mp3</key>
				<string>YourAStarBaby</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>unicorn-rainbow-plain</string>
				<key>image_play</key>
				<string>unicorn-rainbow-play</string>
				<key>image_speaker</key>
				<string>unicorn-rainbow-speaker</string>
				<key>sound_mp3</key>
				<string>YoureMagical</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.sasha</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>dummy</string>
				<key>image_play</key>
				<string>dummy</string>
				<key>image_speaker</key>
				<string>dummy</string>
				<key>sound_mp3</key>
				<string>dummy</string>
				<key>in_app_bundle_id</key>
				<string>dummy</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>sj-all-girls-arm-in-arm-plain</string>
				<key>image_play</key>
				<string>sj-all-girls-arm-in-arm-play</string>
				<key>image_speaker</key>
				<string>sj-all-girls-arm-in-arm-speaker</string>
				<key>sound_mp3</key>
				<string>sj-all-girls-arm-in-arm-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-all-girls-arm-in-arm-jobs-plain</string>
				<key>image_play</key>
				<string>sj-all-girls-arm-in-arm-jobs-play</string>
				<key>image_speaker</key>
				<string>sj-all-girls-arm-in-arm-jobs-speaker</string>
				<key>sound_mp3</key>
				<string>sj-all-girls-arm-in-arm-jobs-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-all-girls-filming-plain</string>
				<key>image_play</key>
				<string>sj-all-girls-filming-play</string>
				<key>image_speaker</key>
				<string>sj-all-girls-filming-speaker</string>
				<key>sound_mp3</key>
				<string>sj-all-girls-filming-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-green-girl-plain</string>
				<key>image_play</key>
				<string>sj-green-girl-play</string>
				<key>image_speaker</key>
				<string>sj-green-girl-speaker</string>
				<key>sound_mp3</key>
				<string>sj-green-girl-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-green-girl-shadow-plain</string>
				<key>image_play</key>
				<string>sj-green-girl-shadow-play</string>
				<key>image_speaker</key>
				<string>sj-green-girl-shadow-speaker</string>
				<key>sound_mp3</key>
				<string>sj-green-girl-shadow-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-orange-plain</string>
				<key>image_play</key>
				<string>sj-orange-play</string>
				<key>image_speaker</key>
				<string>sj-orange-speaker</string>
				<key>sound_mp3</key>
				<string>sj-orange-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-orange-girl-hero-plain</string>
				<key>image_play</key>
				<string>sj-orange-girl-hero-play</string>
				<key>image_speaker</key>
				<string>sj-orange-girl-hero-speaker</string>
				<key>sound_mp3</key>
				<string>sj-orange-girl-hero-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-orange-girl-shadow-plain</string>
				<key>image_play</key>
				<string>sj-orange-girl-shadow-play</string>
				<key>image_speaker</key>
				<string>sj-orange-girl-shadow-speaker</string>
				<key>sound_mp3</key>
				<string>sj-orange-girl-shadow-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-pink-girl-plain</string>
				<key>image_play</key>
				<string>sj-pink-girl-play</string>
				<key>image_speaker</key>
				<string>sj-pink-girl-speaker</string>
				<key>sound_mp3</key>
				<string>sj-pink-girl-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-pink-girl-shadow-plain</string>
				<key>image_play</key>
				<string>sj-pink-girl-shadow-play</string>
				<key>image_speaker</key>
				<string>sj-pink-girl-shadow-speaker</string>
				<key>sound_mp3</key>
				<string>sj-pink-girl-shadow-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>support-seejane1-plain</string>
				<key>image_play</key>
				<string>support-seejane1-play</string>
				<key>image_speaker</key>
				<string>support-seejane1-speaker</string>
				<key>sound_mp3</key>
				<string>support-seejane1-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-purple-girl-plain</string>
				<key>image_play</key>
				<string>sj-purple-girl-play</string>
				<key>image_speaker</key>
				<string>sj-purple-girl-speaker</string>
				<key>sound_mp3</key>
				<string>sj-purple-girl-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-purple-girl-shadow-plain</string>
				<key>image_play</key>
				<string>sj-purple-girl-shadow-play</string>
				<key>image_speaker</key>
				<string>sj-purple-girl-shadow-speaker</string>
				<key>sound_mp3</key>
				<string>sj-purple-girl-shadow-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>		
			<dict>
				<key>image_plain</key>
				<string>support-seejane2-plain</string>
				<key>image_play</key>
				<string>support-seejane2-play</string>
				<key>image_speaker</key>
				<string>support-seejane2-speaker</string>
				<key>sound_mp3</key>
				<string>support-seejane2-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>				
			<dict>
				<key>image_plain</key>
				<string>sj-teal-girl-plain</string>
				<key>image_play</key>
				<string>sj-teal-girl-play</string>
				<key>image_speaker</key>
				<string>sj-teal-girl-speaker</string>
				<key>sound_mp3</key>
				<string>sj-teal-girl-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>					
			<dict>
				<key>image_plain</key>
				<string>sj-teal-girl-director-plain</string>
				<key>image_play</key>
				<string>sj-teal-girl-director-play</string>
				<key>image_speaker</key>
				<string>sj-teal-girl-director-speaker</string>
				<key>sound_mp3</key>
				<string>sj-teal-girl-director-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-teal-girl-director2-plain</string>
				<key>image_play</key>
				<string>sj-teal-girl-director2-play</string>
				<key>image_speaker</key>
				<string>sj-teal-girl-director2-speaker</string>
				<key>sound_mp3</key>
				<string>sj-teal-girl-director2-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>			
			<dict>
				<key>image_plain</key>
				<string>sj-teal-girl-director3-plain</string>
				<key>image_play</key>
				<string>sj-teal-girl-director3-play</string>
				<key>image_speaker</key>
				<string>sj-teal-girl-director3-speaker</string>
				<key>sound_mp3</key>
				<string>sj-teal-girl-director3-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>sj-teal-girl-shadow-plain</string>
				<key>image_play</key>
				<string>sj-teal-girl-shadow-play</string>
				<key>image_speaker</key>
				<string>sj-teal-girl-shadow-speaker</string>
				<key>sound_mp3</key>
				<string>sj-teal-girl-shadow-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.seejane</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
						<dict>
				<key>image_plain</key>
				<string>dummy</string>
				<key>image_play</key>
				<string>dummy</string>
				<key>image_speaker</key>
				<string>dummy</string>
				<key>sound_mp3</key>
				<string>dummy</string>
				<key>in_app_bundle_id</key>
				<string>dummy</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>	
			<dict>
				<key>image_plain</key>
				<string>elephant-pink-plain</string>
				<key>image_play</key>
				<string>elephant-pink-play</string>
				<key>image_speaker</key>
				<string>elephant-pink-speaker</string>
				<key>sound_mp3</key>
				<string>elephant_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>emoji-blowing-kiss-pink-plain</string>
				<key>image_play</key>
				<string>emoji-blowing-kiss-pink-play</string>
				<key>image_speaker</key>
				<string>emoji-blowing-kiss-pink-speaker</string>
				<key>sound_mp3</key>
				<string>kiss_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>heart-pink-plain</string>
				<key>image_play</key>
				<string>heart-pink-play</string>
				<key>image_speaker</key>
				<string>heart-pink-speaker</string>
				<key>sound_mp3</key>
				<string>heart_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>lips-pink-plain</string>
				<key>image_play</key>
				<string>lips-pink-play</string>
				<key>image_speaker</key>
				<string>lips-pink-speaker</string>
				<key>sound_mp3</key>
				<string>lips_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>medal-pink-plain</string>
				<key>image_play</key>
				<string>medal-pink-play</string>
				<key>image_speaker</key>
				<string>medal-pink-speaker</string>
				<key>sound_mp3</key>
				<string>gold-medal_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>party-hat-pink-plain</string>
				<key>image_play</key>
				<string>party-hat-pink-play</string>
				<key>image_speaker</key>
				<string>party-hat-pink-speaker</string>
				<key>sound_mp3</key>
				<string>celebrate_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>pink-ribbon-plain</string>
				<key>image_play</key>
				<string>pink-ribbon-play</string>
				<key>image_speaker</key>
				<string>pink-ribbon-speaker</string>
				<key>sound_mp3</key>
				<string>pink-ribbon-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>rosie-riveter-pink-bandana-plain</string>
				<key>image_play</key>
				<string>rosie-riveter-pink-bandana-play</string>
				<key>image_speaker</key>
				<string>rosie-riveter-pink-bandana-speaker</string>
				<key>sound_mp3</key>
				<string>sj-purple-girl-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>smiley-poop-pink-plain</string>
				<key>image_play</key>
				<string>smiley-poop-pink-play</string>
				<key>image_speaker</key>
				<string>smiley-poop-pink-speaker</string>
				<key>sound_mp3</key>
				<string>poop_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>surfboard1-plain</string>
				<key>image_play</key>
				<string>surfboard1-play</string>
				<key>image_speaker</key>
				<string>surfboard1-speaker</string>
				<key>sound_mp3</key>
				<string>surf_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>tennis-shoe-pink-plain</string>
				<key>image_play</key>
				<string>tennis-shoe-pink-play</string>
				<key>image_speaker</key>
				<string>tennis-shoe-pink-speaker</string>
				<key>sound_mp3</key>
				<string>hightoptennisshoes_sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>thumbs-up-pink-ribbon-plain</string>
				<key>image_play</key>
				<string>thumbs-up-pink-ribbon-play</string>
				<key>image_speaker</key>
				<string>thumbs-up-pink-ribbon-speaker</string>
				<key>sound_mp3</key>
				<string>thumbs-up-pink-ribbon-sound</string>
				<key>in_app_bundle_id</key>
				<string>com.4_girls_tech.audiots.inapp.curecancer</string>
				<key>cellType</key>
				<string>packPremiumEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
