<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>objects</key>
		<array>
			<dict>
				<key>image_plain</key>
				<string>get-well-soon-card-plain</string>
				<key>image_play</key>
				<string>get-well-soon-card-play</string>
				<key>image_speaker</key>
				<string>get-well-soon-card-speaker</string>
				<key>sound_mp3</key>
				<string>get-well-soon-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>goals-card-plain</string>
				<key>image_play</key>
				<string>goals-card-play</string>
				<key>image_speaker</key>
				<string>goals-card-speaker</string>
				<key>sound_mp3</key>
				<string>goals-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-anniversary-card-plain</string>
				<key>image_play</key>
				<string>happy-anniversary-card-play</string>
				<key>image_speaker</key>
				<string>happy-anniversary-card-speaker</string>
				<key>sound_mp3</key>
				<string>happy-anniversary-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>happy-birthday-card-plain</string>
				<key>image_play</key>
				<string>happy-birthday-card-play</string>
				<key>image_speaker</key>
				<string>happy-birthday-card-speaker</string>
				<key>sound_mp3</key>
				<string>happy-birthday-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>i-miss-you-card-plain</string>
				<key>image_play</key>
				<string>i-miss-you-card-play</string>
				<key>image_speaker</key>
				<string>i-miss-you-card-speaker</string>
				<key>sound_mp3</key>
				<string>i-miss-you-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>its-a-boy-card-plain</string>
				<key>image_play</key>
				<string>its-a-boy-card-play</string>
				<key>image_speaker</key>
				<string>its-a-boy-card-speaker</string>
				<key>sound_mp3</key>
				<string>its-a-boy-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>its-a-girl-card-plain</string>
				<key>image_play</key>
				<string>its-a-girl-card-play</string>
				<key>image_speaker</key>
				<string>its-a-girl-card-speaker</string>
				<key>sound_mp3</key>
				<string>its-a-girl-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>love-you-more-card-plain</string>
				<key>image_play</key>
				<string>love-you-more-card-play</string>
				<key>image_speaker</key>
				<string>love-you-more-card-speaker</string>
				<key>sound_mp3</key>
				<string>love-you-more-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>you-are-invited-card-plain</string>
				<key>image_play</key>
				<string>you-are-invited-card-play</string>
				<key>image_speaker</key>
				<string>you-are-invited-card-speaker</string>
				<key>sound_mp3</key>
				<string>you-are-invited-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
			<dict>
				<key>image_plain</key>
				<string>you-crushed-it-card-plain</string>
				<key>image_play</key>
				<string>you-crushed-it-card-play</string>
				<key>image_speaker</key>
				<string>you-crushed-it-card-speaker</string>
				<key>sound_mp3</key>
				<string>you-crushed-it-card-sound</string>
				<key>cellType</key>
				<string>packEmoticonsCollectionViewCell</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
